.idea/
*.iml
*/*.iml
/.gradle/
my-admin-backend/*/target
my-admin-backend/.idea

my-admin-front-end/node_modules/
my-admin-front-end/package-lock.json/
my-admin-front-end/.idea
my-admin-front-end/.vscode
